{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<form action="#" method="#" id="cotizador" class="contact page-width page-width--narrow ">
  <div class="contact__fields">
    <div class="field">
      <select class="field__input select__select" id="tipoCotizacion" name="tipoCotizacion" required>
        <option value="arriendo">Comunidad Creativa</option>
        <option value="difusion">Difusión</option>
      </select>
      <label class="field__label" for="tipoCotizacion">Tipo de cotización</label>
    </div>

    <div class="field jornadas">
      <select class="field__input select__select" id="jornadas" name="jornadas" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
      </select>
      <label class="field__label" for="jornadas">Cantidad de jornadas</label>
    </div>

    <div class="field">
      <input class="field__input" id="alumnos" name="alumnos" required type="number" min="1" value="5">
      <label class="field__label" for="alumnos">Cantidad de alumnos</label>
    </div>
    <div class="field">
      <input
        class="field__input"
        id="precioCurso"
        name="precioCurso"
        required
        type="number"
        min="1"
        value="25000"
      >
      <label class="field__label" title="Precio del curso" for="precioCurso">Precio del curso</label>
    </div>
    <div class="field">
      <select class="field__input select__select" id="docTributario" name="docTributario" required>
        <option value="boleta">Boleta de honorarios</option>
        <option value="factura">Factura Exenta</option>
      </select>
      <label class="field__label" for="docTributario">Documento tributario</label>
    </div>
    <div class="field arriendo">
      <input class="field__input" id="arriendo" disabled name="arriendo" readonly type="text">
      <label class="field__label" for="arriendo">Arriendo de sala</label>
    </div>
    <div class="field">
      <input class="field__input" id="cargoServicio" disabled name="cargoServicio" readonly type="text">
      <label class="field__label" for="cargoServicio">Cargo por servicio</label>
    </div>
    <div class="field">
      <input class="field__input" id="totalFactura" disabled name="totalFactura" readonly type="text">
      <label class="field__label" for="totalFactura">Total de la boleta o factura</label>
    </div>
  </div>
  <div class="field">
    <input
      class="field__input"
      id="recibiras"
      disabled
      name="recibiras"
      readonly
      type="text"
      style="font-weight:bold;"
    >
    <label class="field__label" for="recibiras">Recibirás</label>
  </div>
</form>
<script>
  // ARRIENDOS
  const JORNADA1 = 50000;
  const JORNADA2 = 94000;
  const JORNADA4 = 120000;
  const COFFEE = 2100;

  // COMISIONES
  const CARGO = 0.15; // Cargo por servicio 15%
  const ARRIENDO = 0.3; // Costo del arriendo 30%

  // CONVIERTE NÚMEROS A FORMATO CLP
  function clp(number) {
    return new Intl.NumberFormat('es-CL', { style: 'currency', currency: 'CLP' }).format(number);
  }

  // GETS FIELDS BY ID
  function id(campo) {
    return document.getElementById(campo);
  }
  let cotizador = id('cotizador');

  let jornadas = id('jornadas');
  let alumnos = id('alumnos');

  let precioCurso = id('precioCurso');
  let docTributario = id('docTributario');

  let arriendo = id('arriendo');
  let cargoServicio = id('cargoServicio');

  let totalFactura = id('totalFactura');
  let recibiras = id('recibiras');

  ['DOMContentLoaded', 'keydown', 'change', 'input'].forEach((evento) => {
    document.addEventListener(evento, calcular);
  });

  // CALCULA LOS VALORES DEL ARRIENDO Y COMISIONES
  function calcular() {
    let CON_ARRIENDO = id('tipoCotizacion').value;

    //console.log(cotizador.reportValidity());
    ingresosCurso = Math.round(parseFloat(alumnos.value) * parseFloat(precioCurso.value));

    cargoValor = ingresosCurso * CARGO;
    cargoServicio.value = clp(cargoValor);

    if (CON_ARRIENDO == 'arriendo') {
      document.getElementsByClassName('jornadas')[0].style.display = 'grid';
      document.getElementsByClassName('arriendo')[0].style.display = 'grid';
      if (jornadas.value == 1) {
        if (ingresosCurso * ARRIENDO <= JORNADA1) {
          arriendo.value = clp(Math.round(ingresosCurso * ARRIENDO));
        } else if (ingresosCurso * ARRIENDO >= JORNADA1) {
          arriendo.value = clp(JORNADA1);
        }
      } else if (jornadas.value == 2) {
        if (ingresosCurso * ARRIENDO <= JORNADA2) {
          arriendo.value = clp(Math.round(ingresosCurso * ARRIENDO));
        } else if (ingresosCurso * ARRIENDO >= JORNADA2) {
          arriendo.value = clp(JORNADA2);
        }
      } else if (jornadas.value == 4) {
        if (ingresosCurso * ARRIENDO <= JORNADA4) {
          arriendo.value = clp(Math.round(ingresosCurso * ARRIENDO));
        } else if (ingresosCurso * ARRIENDO >= JORNADA4) {
          arriendo.value = clp(JORNADA4);
        }
      }
    } else {
      document.getElementsByClassName('jornadas')[0].style.display = 'none';
      document.getElementsByClassName('arriendo')[0].style.display = 'none';
      cargoValor = ingresosCurso * CARGO;
    }

    // TOTAL BOLETA

    if (docTributario.value == 'boleta') {
      totalFactura.value = clp(Math.round(ingresosCurso - cargoValor));
    } else if (docTributario.value == 'factura') {
      totalFactura.value = clp(Math.round(ingresosCurso - cargoValor));
    }

    //RECIBIRÁS

    const AÑO = new Date().getFullYear();

    const RETENCIONES = {
      2023: 13,
      2024: 13.75,
      2025: 14.5,
      2026: 15.25,
      2027: 16,
      2028: 17,
    };

    const retencionBoletas = (100 - RETENCIONES[AÑO]) / 100;

    if (docTributario.value == 'boleta') {
      recibiras.value = clp(Math.round((ingresosCurso - cargoValor) * retencionBoletas));
    } else if (docTributario.value == 'factura') {
      recibiras.value = clp(Math.round(ingresosCurso - cargoValor));
    }
  }
</script>


{% schema %}
{
  "name": "Cotizador",
  "tag": "section",
  "class": "cotizador",
	"limit": 1,
	"presets": [
    {
      "name": "Cotizador",
      "category": "Espacio Fraile"
    }
	]
}
{% endschema %}
